@import url('..\App.css');

body {
    background-color: var(--Pastel-Background);
}

h1 {
    color: var(--Pastel-Accent1);
}
h2 {
    color: var(--Pastel-Accent2);
}
p {
    color: var(--Pastel-Primary);
}