
:root {
    /*Pastel Palette*/
    --Pastel-Background: #2C2C2C;
    --Pastel-Primary: #E4E4E4;
    --Pastel-Accent1: #A8DADC;
    --Pastel-Accent2: #FFC1CC;
    --Pastel-Button: #B39CD0;
    /*Warm Palette*/
    --Warm-Background: #2C2C2C;
    --Warm-Primary: #F5E8D8;
    --Warm-Accent1: #FF6F61;
    --Warm-Accent2: #DAA520;
    --Warm-Button: #FF4500;
    /*Mono Palette*/
    --Mono-Background: #121212;
    --Mono-Primary: #E0E0E0;
    --Mono-Accent1: #B0B0B0;
    --Mono-Accent2: #444444;
    --Mono-Button: #888888;
}

body {
    background-color: var(--Mono-Background);
}
h1 {
    color: var(--Mono-Accent1);
}
h2 {
    color: var(--Mono-Accent2);
}
p {
    color: var(--Mono-Primary);
}

.navbar {
  background-color: var(--Mono-Accent2); 
  display: flex;
  align-items: center;

}

.navbar a{
    color: var(--Mono-Button);
    padding: 15px 15px;
    
}
.navbar a.active {
  text-decoration: underline;
  background-color: var(--Mono-Accent1);
  color: var(--Mono-Background);
}

.stack-container {
    display: flex;
    flex-direction: column; 
    row-gap: 20px;
}
