
:root {
    /*Pastel Palette*/
    --Pastel-Background: #2C2C2C;
    --Pastel-Primary: #E4E4E4;
    --Pastel-Accent1: #A8DADC;
    --Pastel-Accent2: #FFC1CC;
    --Pastel-Button: #B39CD0;
    /*Warm Palette*/
    --Warm-Background: #2C2C2C;
    --Warm-Primary: #F5E8D8;
    --Warm-Accent1: #FF6F61;
    --Warm-Accent2: #DAA520;
    --Warm-Button: #FF4500;
    /*Mono Palette*/
    --Mono-Background: #121212;
    --Mono-Primary: #E0E0E0;
    --Mono-Accent1: #B0B0B0;
    --Mono-Accent2: #444444;
    --Mono-Button: #888888;
}
/*
div{
    background-color:var(--Mono-Background);

}



.navbar-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2C2C2C; 
    font-family: sans-serif;
}

h1,
h2 {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--Warm-Primary); 
}

h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;
}

h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
}

p {
    margin: 0;
}

.stack-container {
    display: flex;
    flex-direction: column; 
    row-gap: 20px;
}
*/